body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f9fc;
}

/* ===== NAVBAR ===== */
nav{
    background:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

nav h2{
    color:#0a9396;
}

nav a{
    text-decoration:none;
    color:#333;
    margin-left:25px;
    font-weight:bold;
}

/* ===== HERO ===== */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 40px;
    background:#e0f2f1;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    color:#005f73;
    font-size:36px;
}

.hero-text p{
    margin-top:15px;
    font-size:18px;
}

.hero-text button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#0a9396;
    color:white;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}

.hero img{
    width:380px;
}

/* ===== SERVICES ===== */
.section{
    padding:50px 40px;
    text-align:center;
}

.services{
    display:flex;
    gap:20px;
    justify-content:center;
    margin-top:30px;
}

.card{
    background:white;
    padding:25px;
    width:250px;
    border-radius:10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

/* ===== FOOTER ===== */
footer{
    background:#005f73;
    color:white;
    text-align:center;
    padding:15px;
}
